{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}OneStop{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'weather/styles.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-field">
                <!-- Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="navbar-brand active" href="">OneStop</a>
                </div>

                <!-- Items -->
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">

                        <li class="nav-item active">
                            <a href="{% url 'weather:index' %}">
                                Weather
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="{% url 'cal:index' %}">
                                Calendar
                            </a> 
    
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'todo:index' %}">
                                To-Do
                            </a> 
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>